*{
    margin: 0px;
    padding: left;
}
form{
    margin: 0 left;
    width: 100%;
}
input[type="submit"]{
    clear: both;
    text-align: center;
    width: 10%;
    height: 2em;
    margin: auto;
    border-radius: 2px;
}