.Bigimage img{
    display: flex;
    margin-left: auto;
    margin-right:auto ;
    margin: 0;
    padding: 0;
}
nav ul li{
    font-family: 'Lato', sans-serif;
}
.BigText{
    font-size: 36px;
    font-weight: bold;
    display: flex;
    margin-top: 40px;
    margin-left:100px;
    flex-wrap: wrap;
}
.paragraph{
    font-size: 20px;
    padding-left: 0px;
  
}
.summary{
    margin-top: 20px;
    display: flex;
    margin-left: 100px;
    flex-wrap: wrap;
    width: 100%;
}


.maincontainer{
    display:block;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-left: 100px;
}
.centeredlist{
    margin-right: 100px;
    text-align: center;
   
   
}
.centeredlist ul{
    text-align: center;
    float: right;
    white-space:pre-line;
    margin-right: 50px;

}
.maincontainer p{
    width: 30%;
    margin-top: 10px;
}
.maincontainer ul li{
    border-top:3px solid #000;
    padding: 1.5rem 0 1.7rem;
   
}
.maincontainer li{
    font-family: 'Open Sans', sans-serif;
 
}
input[type=text], select, textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: gold;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-left: 40px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .formscontainer {
    border-radius: 5px;
    background-color: #F0FFF0;
    width: 100%;
    padding: 20px;
    
  }
  .dates{
    text-align: left;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    margin-right: -100px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
@media screen and (max-width: 768px){
    .summary{
        margin-left:auto;
        margin-left: auto;
        padding: 15px;
    }
    .maincontainer p{
        width: 100%;
    }
    .bigimage image{
        height: 100%;
    }
    .maincontainer{
        margin-left: auto;
        margin-right: auto;
        margin-left:5px;
    }
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .midtext{
        text-align: center;
    }
    .centeredlist{
        display:block;
    }
    .centeredlist{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        
        justify-content: center;

    }
    .dates{
        text-align: center;
    }
}