
.arrow-button {
    display: inline-block;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
    background-color: black;
    margin-left: 5px;
  }
.arrow-button span {
    display: inline-block;
    margin-left: 5px;
    
  }
  .arrow-button span::after{
    content: "\003E";
    color: white;
  }
  .arrow-button:hover{
    background-color: grey;
  }

.igContainer{
    display: inline-block;
    vertical-align: top;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    margin-left: auto ;
    margin-right: auto;
}
.searchbarcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;  
    max-width: 70%;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: -450px; 
    vertical-align: top;
}

.incontainer{
    margin-right: 50px ;
    background-color: rgba(221, 141, 5, 0.7);
    padding: 20px;
    border-radius:10px ;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.textInPicture p{
    margin-bottom: 80px;
    color: white;
    font-size: 20px;
}
.Bookingbutton{
  padding: 10px 20px;
  background-color: gold;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}



@media screen and (max-width: 768px){
    .searchbarcontainer{
        margin-top: -350px;
        display: flex;
        
        padding-right: 10px;
        right: 70px;
        padding: 10px;
        width: 80%;
       
        
    }
    .bigimage img{
        height: 50%;
    }
    .textInPicture p{
        margin-bottom: 80px;
        color: white;
        font-size: 16px;
        margin-top: -30px;
        margin-left: 30px;

    }
    .incontainer{
        margin-top: -55px;
        width: 59%;
        margin-right: 230px;
        margin-left: 50px;
    }
    .searchbarcontainer input{
        margin-top: 10px;
        margin-bottom: 7px;
        margin-left: 0px;
        padding: 0px;
    }
    .special{
       padding: 0px;
       display: inline-block;
    }
    .searchbarcontainer label{
        font-size:15px;
    }
    .aboutus{
       flex-wrap: wrap;
        display: block;
    }
    .aboutus img{
        margin-top: 10px;
    }
    .aboutus p{
        width: 100%;
        margin-top: -90px;
        text-align: center;
    }
    .aboutusimg{
        margin-right: 100px;
        padding-top:30px;
    }
}
@media screen and (max-width: 1024px){
    .searchbarcontainer{
        margin-left: 100px;
    }

}
.searchbarcontainer label{
    color: white;
}
.aboutus{
    display: flex;     /*Enables flexible layout option*/
    text-align: left;
    align-items: center; /*item will wrap into a new line whn reaching to end of container*/
    justify-content: center; /*Align items along main axis and centers with the main container*/
    padding: 40px;
    margin-top:150px;
}
.aboutusimg{
    margin-left: 100px; 
}

.paragraph{
    font-size: 20px;
    padding-left: 0px;
    width: 30%;
    text-align: left;
    
}
.aboutus button{
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    font-size:15px;
    background-color:#deebc6 ;
    font-size:15px;
    padding:20px;
    border: none;
}


.offerscontainer button{
    padding: 0;
    margin:0;
    width:15%;
    position: relative;
    bottom:80px;
    left:70px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    font-size:15px;
    background-color:#deebc6 ;
    font-size:15px;
    padding:20px;
    border: none;
    padding-bottom: 2%;
    margin-left: 110px;
}

.bottom{
    
    flex-flow: row nowrap;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 10px;
    background-color:beige;

}
.sectionwords{
    font-size: 20px;
    text-align:center;
    width: 50%;
    padding-top: 0px;
    padding-right:150px;    
    margin-bottom: 100px;

   

}

.bottom img{
    float: right;
    
    height: 300px;
    width: 500px;
    margin-left: 150px;
    margin-bottom: 40px;
    padding-left: 0px;
   
}

.bottom button{
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    font-size:15px;
    background-color:#deebc6 ;
    font-size:15px;
    padding:30px;
    border: none;
}
.eventsContainer{
    display: flex;     /*Enables flexible layout option*/
    text-align: left;
    align-items: center; /*item will wrap into a new line whn reaching to end of container*/
    justify-content: center; /*Align items along main axis and centers with the main container*/
    padding: 40px;
    margin-top:50px;
    background-color: white;
}