
.arrow-button {
    display: inline-block;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
    background-color: black;
    margin-left: 5px;
  }
.arrow-button span {
    display: inline-block;
    margin-left: 5px;
    
  }
  .arrow-button span::after{
    content: "\003E";
    color: white;
  }
  .arrow-button:hover{
    background-color: grey;
  }
.aboutus button{
   text-align: center;
}
.searchbarcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;  
    max-width: 70%;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: -500px; 
    vertical-align: top;
    flex-wrap: wrap;
}

.incontainer{
    margin-right: 50px ;
    background-color: rgba(221, 141, 5, 0.7);
    padding: 20px;
    border-radius:10px ;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.textInPicture p{
    margin-bottom: 60px;
    color: white;
    font-size: 20px;
    width: 100%;
}
.specialSpan{
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    display: flex;
   
    
}
.span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;  
    max-width: 70%;
}
.Bookingbutton{
  padding: 10px 20px;
  background-color: gold;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}


 
@media screen and (max-width: 768px){
    .searchbarcontainer{
        margin-top: -500px;
        padding-right: 10px;
        right: 70px;
        padding: 10px;
        width: 80%;
        
    }
    .bigimage img{
        height: 50%;
    }
    .textInPicture p{
        margin-bottom: 80px;
        color: white;
        font-size: 16px;
        margin-top: -40px;
        margin-left: 30px;
     
    }

    .incontainer{
        margin-top: -55px;
        width: 59%;
        margin-right: 230px;
        margin-left: 50px;
    }
    .searchbarcontainer input{
        margin-top: 10px;
        margin-bottom: 7px;
        margin-left: 0px;
        padding: 0px;
    }
    .special{
       padding: 0px;
       display: inline-block;
    }
    .searchbarcontainer label{
        font-size:15px;
    }
    .aboutus{
       flex-wrap: wrap;
        display: block;
    }
    .aboutus img{
        margin-top: 10px;
    }
    .aboutus p{
        width: 100%;
        margin-top: -90px;
        text-align: center;
    }
    .aboutusimg{
        margin-right: 100px;
        padding-top:30px;
    }
    .Dining{
        flex-wrap: wrap;
        display: block;
    }
    
    .Dining p{
        width: 100%;
        margin-top: -90px;
        text-align: center;
    }
    .Dining img{
        width: 70%;
        margin-top: 10px;
        margin-left: auto;
        margin-right:auto ;
       
    }
    .Diningimg{
        margin-right: 100px;
        padding-top:30px;
       width: 100%;
    }
    .eventsContainer{
        flex-wrap: wrap;
        display: block;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .eventsContainer{
         width: 100%;
         text-align: center;
         flex-wrap: wrap;
        display: block;
    }
    .eventsContainer p{
        width: 100%;
        margin-top: -90px;
        text-align: center;
    }
    .eventsCard1{
       width: 100%;
    }
    .cardcontainer{
        flex-wrap: wrap;
        
    }
    .eventsCard3 {
       width: auto;
    }
    .eventsCard2{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .eventsCard2{
        width: 100%;
    }
    .eventsCard3 {
        padding-bottom: 15px;
    }
    .Dining p{
        text-align: center;
    }
    .Dining img{
       margin-right: auto;
       margin-left: auto;
    }
}
@media screen and (max-width: 1024px){
    .searchbarcontainer{
        margin-left: 100px;
    }

}
.searchbarcontainer label{
    color: white;
}
.aboutus{
    display: flex;     /*Enables flexible layout option*/
    text-align: left;
    align-items: center; /*item will wrap into a new line whn reaching to end of container*/
    justify-content: center; /*Align items along main axis and centers with the main container*/
    padding: 40px;
    margin-top:150px;
}
.aboutusimg{
    margin-left: 100px; 
}

.paragraph{
    font-size: 20px;
    padding-left: 0px;
    width: 30%;
    text-align: left;
   
    
}
p{
    font-family: 'Open Sans',sans-serif;
}

.aboutus button{
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    font-size:15px;
    background-color:#deebc6 ;
    font-size:15px;
    padding:20px;
    border: none;
}
.Bookingbutton:hover{
    background-color: grey
}
.aboutus button:hover{
    background-color: grey;
}

.eventsContainer{
    display: flex;     /*Enables flexible layout option*/
    text-align: left;
    align-items: center; /*item will wrap into a new line whn reaching to end of container*/
    justify-content: center; /*Align items along main axis and centers with the main container*/
    padding: 40px;
    margin-top:150px;
   
}
.eventsContainer{
   margin-right: 500px;
}

.eventsCard1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    background-color: white;
    min-width: 300px;
    margin: 40px;
    margin-top: 80px;
}
.eventsCard1:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.eventsContainer img{
    border-radius: 5px 5px 0 0;
}

.flexcontainer{
    margin-left: 300px;
   
}   
.minicontainer{
    text-align: center;
    padding:10px;
   
}
.eventsCard2:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.eventsCard3:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.eventsCard2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    background-color: white;
    min-width: 300px;
    margin: 40px;
    margin-top: 80px
}
.eventsCard2 img{
    width: 100%;
}
.cardcontainer{
    display: flex;
    justify-content: center; /* Center the card horizontally */
    margin-right: auto;
    margin-left: auto;
}
.eventsCard3{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    border-radius: 5px;
    background-color: white;
    min-width: 300px;
    margin: 40px;
    margin-top: 80px;
    
}
.eventsCard3 img{
   height: 75%;
   
}
hr{
    margin:10px 0;
    border: 0;
    height: 1px;
    background-color: #ccc;
}
.Diningimg{
    margin-left: 200px; 
    width: 60%;
}

.Dining button{
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    font-size:15px;
    background-color:#deebc6 ;
    font-size:15px;
    padding:20px;
    border: none;
}
.Dining button:hover{
   background-color: grey;
}
.Dining{
    display: flex;    
    align-items: center; 
    justify-content: center; 
    padding: 40px;
    margin-top:150px;
}

.Diningimg{
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    width: 30%;
    max-width: 100%; 
    min-height: 200px; 
    min-width: 250px;
    margin-right: 00px;
    margin-left: 50px;
    margin-bottom: 100px;
   
}
