* {
    margin: 0;
    padding: 0;
   
}

/* Payment webpage 1 (Date Selection) */


/* Webpage header */
.paymentwebpageheader{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 80px;
    font-family: 'Montserrat';
}


/* Indication */

.payment_indicator{
    outline:auto;
    width: 88%;
    height: 120px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
}



.date_indicator{
    width: 20%;
    height: 120px;
    outline: red solid 5px;
    display: inline-block;
    margin-right: 50px;
    flex: 1;
}

.date_selectionlink{
    
}

.circle_step_counter_date {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 30px;
    font-family: 'Roboto';
    color: #fff;
    text-align: center;
    background: #B28850;
    display: inline-block;
    margin-top: 10%;
    margin-left: 20px;
}

.text_next_to_date_indicator_icon{
    display: inline-block;
    font-size: 20px ;
    font-family: 'Montserrat';
    text-align: center;
    margin-left: 10px;
}





.room_indicator{
    width: 20%;
    height: 120px;
    outline: blue solid 5px;
    display: inline-block;
    margin-right: 50px;
    flex: 1;
}

.circle_step_counter_room {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 30px;
    font-family: 'Roboto';
    color: #fff;
    text-align: center;
    background: #B28850;
    display: inline-block;
    margin-top: 10%;
    margin-left: 20px;
}

.text_next_to_room_indicator_icon{
    display: inline-block;
    font-size: 20px ;
    font-family: 'Montserrat';
    text-align: center;
    margin-left: 10px;
}





.guestcard_info_indicator{
    width: 20%;
    height: 120px;
    outline: green solid 5px;
    display: inline-block;
    margin-right: 50px;
    flex: 1;
}

.circle_step_counter_guest {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 30px;
    font-family: 'Roboto';
    color: #fff;
    text-align: center;
    background: #B28850;
    display: inline-block;
    margin-top: 10%;
    margin-left: 20px;
}

.text_next_to_guest_indicator_icon{
    display: inline-block;
    font-size: 20px ;
    font-family: 'Montserrat';
    text-align: center;
    margin-left: 10px;
}





.confirmation_indicator{
    width: 20%;
    height: 120px;
    outline: purple solid 5px;
    display: inline-block;
    flex: 1;
}

.circle_step_counter_confirmation {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    font-size: 30px;
    font-family: 'Roboto';
    color: #fff;
    text-align: center;
    background: #808080;
    display: inline-block;
    margin-top: 10%;
    margin-left: 20px;
}

.text_next_to_confirmation_indicator_icon{
    display: inline-block;
    font-size: 20px ;
    font-family: 'Montserrat';
    text-align: center;
    margin-left: 10px;
}





/* Important information/receipt */

.important_infomation{
    width: 400px;
    height: 300px;
    margin-top: 150px;
    margin-right: 125px;
    border: solid 4px black;
    border-radius: 2.5px;
    float: right;
    background-color: #D3D3D3;
    margin-bottom: 300px;
}

h1.information_header{
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Montserrat';
}

.information_checkin_date{
    font-family: 'roboto';
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20px;
}

.information_checkout_date{
    font-family: 'roboto';
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20px;
}

.information_days_counter_date{
    font-family: 'roboto';
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20px;
}



/* Main Container to store all four rooms display */

.container_guest_info_form{
    width: 53%;
    height: 1000px;
    margin-left: 90px;
    margin-top: 150px;
    margin-bottom: 700px;
    display: inline-block;
    outline: auto;
}

/* Guest Infomation Form */

.form_guest_info_header{
    text-align: center;
    margin-bottom: 30px;
}

.guest_info_form{

}

.guest_info_input_fullname{
    display: block;
    width: 230px;
    height: 40px;
    margin-bottom: 20px ;
    border: 2.5px black solid;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.guest_info_input_phonenumber{
    display: block;
    width: 230px;
    height: 40px;
    margin-bottom: 20px ;
    border: 2.5px black solid;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.guest_info_input_email{
    display: block;
    width: 230px;
    height: 40px;
    margin-bottom: 20px ;
    border: 2.5px black solid;
    border-radius: 4px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#visa {
    width: 80px;
    position: relative;
    top: 15px;
}

#mastercard {
    width: 65px;
    position: relative;
    top: 20px;
}

#americanexp {
    width: 60px;
    position: relative;
    top: 22px;
}

.visaoption {
    display: inline-block;
    margin-right: 50px;
}

.masteroption {
    display: inline-block;
    margin-right: 50px;
}

.americanoption {
    display: inline-block;
    margin-bottom: 20px;
}

.circlebutton {
    background-color: black;
}

.paymentdiv {
    margin-top: 35px;
}