.Header{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.Header h1{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.HeaderIMG{
  width: 100%;
  height: auto;
}

.Container_ALL{
  align-content: center;
}

.ResturantIntro{
  width: 100%;
  height: auto;
  /* border: 2px solid black; */
  text-align: center;
  font-size: 20px;
}


.Resturant_Border{
  width: 45%;
  margin: auto;
  border-bottom: 3px solid black;
}



@media screen and (max-width: 1024px){
  .PicTitle{
    font-size: 10em;
  }
  .Title.active{
    display: none;
  }
}

@media screen and (max-width: 768px){
  .WelcomeResturant{
    font-size: 25px;
  }
  .Title.active{
    display: none;
  }
}



/* .footer-container{
  width:100%;
  height: 400px;
  background-color: #cc9900;
} */




body {
  font-family: sans-serif;
  background-color: #ffffff;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 30px;
}

.card {
  text-align: center;
  padding: 25px 10px 25px 10px;
  width: 300px;
  height: auto;
  margin: 0 10px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px #ccc;
}

.card img {
  width: 100%;
}

.card h2 {
  font-size: 1.5em;
}

.card p {
  font-size: 1em;
}
