
.HeaderIMG{
    width: 100%;
    height: auto;
}
body{
    background-color: white;
}
.Main_container{
    text-align: center;
    background-color: white;
    margin-bottom:100px ;
}


.Main_container h1{
    margin: auto;
    text-align: center;
    padding: 10px;
    width: 200px;
    border-bottom: solid black 3px;
    
}

.Main_container p{
    font-family: 'Open Sans',sans-serif;
    padding-top: 10px;
    font-size: 20px;
    padding-bottom:  30px;
}

.Main_container a{
    border: black 3px solid;
    padding: 10px;
    font-family: 'Open Sans',sans-serif;
    text-decoration: none;
    background-color: white;
    color: black;
}

.Main_container a:hover{
    color: goldenrod;
    border: goldenrod 3px solid;
}

.spacing_container{
    padding-top: 15px;
    padding-bottom: 15px;
}