*{
  font-family: Arial, Helvetica, sans-serif;
}

.Header{
  width: 100%;
  height: auto;
  overflow: hidden;
}

.Header h1{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-left: 15px;
  border-left: white 3px solid;
  font-size: 8em;
}

.HeaderIMG{
  width: 100%;
  height: auto;
}

.Container_ALL{
  align-content: center;
  text-align: center;
}







/* .footer-container{
  width:100%;
  height: 400px;
  background-color: #cc9900;
} */




body{
  font-family: sans-serif;
  background-color: #ffffff;
}

.container_tally{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 30px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 30px;
}

.card{
  text-align: center;
  padding: 25px 10px 25px 10px;
  width: 440px;
  height: auto;
  margin: 0 10px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px #ccc;
}

.card:hover{
  transform:scale(1.08);
  transition: transform .5s;
}


.card img {
  width: 100%;
}



.card h2 {
  font-size: 1.5em;
}

.card p {
  font-size: 1em;
}


@keyframes fade_in{
  from {left: 0px;}
  to {align-self: center; }
}


.book_button{
  text-decoration: none;
  color: black;
  border: 3px solid black ;
  padding: 10px;
  background-color: #deebc6;
  font-weight: bold;
}

.book_button:hover{
  border: goldenrod solid 3px;
  background-color: white;
  color: black;
}


.intro_container{
  width: 100%;
  height: auto;
  padding-top: 20px;
  border-bottom: solid black 3px ;
}

.IntroPic{
  height: 400px;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1/1;
  max-height: 400px;
  float: left;
  margin-left: 10px;
  padding-bottom: 20px;
}
.Restaurant_Text_Intro{
  text-align: center;
  text-decoration: underline;
  padding-top:30px;
}

.Dining_Description{
  min-width: 200px;
  text-align: center;
}

.intro-textsize{
  min-width: 200px;
  text-align: center;
  font-size: 20px;
  min-height: 400px;
}

.menu_container{
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  border-bottom:black solid 3px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: antiquewhite;
}

@media screen and (max-width: 1024px){
  .Header h1{
    font-size: 60px;
  }
  .Title.active{
    display: none;
    animation-name: move;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .IntroPic{
    height: 400px;
    width: 90%;
    max-width: 500px;

    aspect-ratio: 1/1;
    max-height: 400px;
  }

}

@media screen and (max-width: 768px){
  .Header h1{
    font-size: 40px;
  }
  .Title.active{
    display: none;
    transition: transform 0.5s ease-in;
  }

  .container_tally{
    display:block ;
    justify-content: center;
    flex-wrap: none;
    margin: auto;
  }
  
  .IntroPic{
    height: 400px;
    width: 100%;
    max-width: 500px;

    aspect-ratio: 1/1;
    max-height: 400px;
    margin-left: 0;
  }
}
