.video-container{
  height: 800px;
  width:auto;
  overflow: hidden;
}


video{
  height: auto;
  width: 100%;
}



/* .footer-container{
  width:100%;
  height: 400px;
  background-color: #cc9900;
} */


