
nav{
    background-color: #DEF4E4;
}
nav img{
    width: 80px;
    height:60px;
    margin: 5px;
    left:10px
}

button{
    margin-top:4px;
    background-color: #B4EE3E;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    font-size:15px;
    padding:20px;
}
.button{
    float: right;
}

nav ul li{
    text-align: center;
    font-size: 25px;
    padding:14px;
    display: inline-block;
    color: white;
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul{
    margin-left: 30px;
    padding: 10px;
    font-size: 24px;
}

header{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.topcontainer{
    display:flex;
    column-gap:150px;
}
.bigimage{
    height:auto;
    width:auto ;
   
    
    
}
.bigimage img{
    height: 450px;
    width: 100%;
    
    
}

.searchbar{
    position: relative;
    bottom: 280px;
    left: 570px;
    right: 650px;
    display: inline-block;
}
.searchbar input {
    height: 30px;
    width: 250px;
}


.aboutus{
    background-color:#F4F5EF;
    width: 100%;
    height: 100%;
   
}
.aboutus img{
    border-style: solid;
    border-width: 1px;
    margin-top: 40px;
    left: 50px;
    top:0px;
    height: 300px;
    width: 500px;
    position: relative;
    margin-bottom: 40px;

}

.paragraph{
    font-size: 20px;
    text-align:center;
    width: 50%;
    float:right;
    height:50%;
    padding-top: 0px;
    padding-right:150px;    
}

.aboutus button{
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    font-size:15px;
    background-color:#deebc6 ;
    font-size:15px;
    padding:20px;
    border: none;
}

.specialofferhead p{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top:80px;
}

.offerscontainer{
    display:grid;
    grid-template-rows: 200px 1fr;
    border: 1px solid grey;
    border-radius: 25px;
    align-items:left;
    flex-grow:0.5;
    flex-flow: column nowrap;
    display:flex;
    width: 50%;
    margin-left:450px;
    padding:6px;
}

.offerscontainer p{
    padding-top:100px;
    padding-left:140px;
}

.offerscontainer img{
    width:260px;
    height:150px;
    position: relative;
    left:600px;
    bottom:100px;
}

.offerscontainer button{
    padding: 0;
    margin:0;
    width:15%;
    position: relative;
    bottom:80px;
    left:70px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    font-size:15px;
    background-color:#deebc6 ;
    font-size:15px;
    padding:20px;
    border: none;
    padding-bottom: 2%;
    margin-left: 110px;
}

.bottom{
    display: flex;
    flex-flow: row nowrap;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 10px;
    background-color:beige;

}
.sectionwords{
    font-size: 20px;
    text-align:center;
    width: 50%;
    padding-top: 0px;
    padding-right:150px;    
    margin-bottom: 100px;

   

}

.bottom img{
    float: right;
    position: relative;
    height: 300px;
    width: 500px;
    margin-left: 150px;
    margin-bottom: 40px;
    padding-left: 0px;
   
}

.bottom button{
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
    font-size:15px;
    background-color:#deebc6 ;
    font-size:15px;
    padding:30px;
    border: none;
}