nav{
    background-color: #DEF4E4;
}
nav img{
    width: 80px;
    height:60px;
    margin: 5px;
    left:10px
}

button{
    margin-top:4px;
    background-color: #B4EE3E;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    font-size:15px;
    padding:20px;
}
.button{
    float: right;
}

nav ul li{
    text-align: center;
    font-size: 25px;
    padding:14px;
    display: inline-block;
    color: white;
    margin-left: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul{
    margin-left: 30px;
    padding: 10px;
    font-size: 24px;
}

header{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topcontainer{
    display:flex;
    column-gap:150px;
}
.imagescontainer{
    width: 60%;
    margin-left:455px;
    padding:15px;
    margin-top: 10px;
}


.top-right{
    width: 20%;
    height: 150px;
    margin-bottom: 0px;
}

.mid-left{
    width: 20%;
    height: 150px;
    margin-bottom: 0px;
}

.bottom-left{
    width:20%;
    height: 150px;
    margin-bottom: 3px;
    margin-top: 2px;
}



.bottom-semileft{
    width: 19%;
    height: 150px;
    padding-bottom:3px;
}


.bottom-mid{
    width: 19%;
    height: 150px;
    padding-bottom:3px;
   
}

.bottom-right{
    width: 19%;
    height: 150px;
    margin-bottom: 3px;
    
    
}

.bigimage{
    width: 57%;
    height: 304px;
    float: right;
    padding-right: 252px;
    
}

.header{
    display: block;
    align-items: center;
    background-color: #f0f0f0;    
    border-style: 20px;
    width: 45%;
    margin-left: 490px;
    
}
.header li{
    text-decoration: none;
    margin: 5px;  
    padding-left: 5em;
    font-size:18px;
    padding-top: 0px;
}
    .header * {  
        display: inline-block; 
}

.infocontainer{
    width: 45%;
    margin-left:490px;
    background-color: #f0f0f0;   
    margin-top: 1px;
    display: inline-block;
  }

.infocontainer  h1{
    text-align:left;
    margin-left:120px;
}

.infocontainer p{
    padding-left: 140px;
}

.infocontainer-image{
   float: right;
   margin-top: -60px ;
   
}
.headingmap{
    float:right;
    margin-top:-105px;
    margin-right:105px;
}

.roomcontainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: top;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 100px;
}

.leftbox{
    display: inline-block;
    text-align: center;
    border-style: outset;
    width:30%;
    margin-right:100px;

}    

.rightbox{
    margin-right: 20px;
    align-items: center;
    border-style: outset;
    width:30%;
    
}

.midbox {
    margin-right: 100px;
    padding-right: 20px;
    align-items: center;
    border-style: outset;
    width:30%;
    
  }
.containerimg{
    width:auto;
    height:200px;
    margin-top:30px;
    border-radius: 15px;
}

.leftbox p{
    font-size: 20px;
    
}
.containertext{
    
    font-size:16px
}

.leftbox button{
    background-color:#deebc6;
    padding:10px;
    width:20%;
    border-radius:12px;   
    text-decoration: none;
    border:none;
    margin-right: 20px;
}

.midboximage{
    width:auto;
    height:200px;
    margin-top:30px;
    border-radius: 15px;
    margin-left: 85px;
}

.midbox p{
    text-align: center;
    font-size: 20px;
}

.midbox button{
    background-color:#deebc6;
    padding:10px;
    width:20%;
    border-radius:12px;   
    text-decoration: none;
    border:none;
    text-align:center;
    margin-right: 20px;
}

.rightboximage{
    width:auto;
    height:200px;
    margin-top:30px;
    border-radius: 15px;
    margin-left: 85px;
}
.rightbox p{
    text-align: center;
    font-size: 20px;
}

.rightbox button{
    background-color:#deebc6;
    padding:10px;
    width:20%;
    border-radius:12px;   
    text-decoration: none;
    border:none;
    text-align:center;
    margin-right: 20px;
}

.map{
    margin-left: 390px;
    
}
